body {
    background: linear-gradient(0.25turn, #7FB196, #F2C98C, #7FB196);
       

}

#quiz-container{
    margin-top:5%;
    border:#264653 20px solid; ;
    background-color: #264653;
    border-radius: 30%;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 10px 10px 10px black;
}

h1{
    text-align: center;
    text-shadow: black ;
    color: #264653;
   margin-top:7.5%;
   font-size:400%;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-shadow: 1px 1px 2px #526779, 0 0 1em black, 0 0 0.0em black;
   
    

}

.question {
    color: #264653;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    margin-bottom: 50px;
    margin-top: 25px;
    border: #7FB196 20px solid;
    background-color: #7FB196;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
    box-shadow:10px 10px 10px black ;

    
}

.options {
    text-align: center;
}

.options button {
   
    background-color: #E9D1A9;
    margin-top: 10px;
    width: 50%;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #264653;
    border-radius: 20px;
    border-width: 5px;
       
}

.button-container {
        text-align: center;
        margin-top: 50px;
     
}
#next-button,
#replay-button{
    background-color: #7FB196;
    border-radius:  100px;
	border-width: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color:#264653;
    }

	nav {
		display: flex;
		justify-content: space-between;
		align-items: left;
		padding: 5em;
		background-color: green;
		color: #fff;
	  }
	  nav ul {
		font-size: 25px;
		  color: green;
		  font-weight: 300;
		  border: 5px, 0, solid, black;
		  padding-bottom: 10px;
	  }
	  nav li {
		display: flex;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	  }
	  nav a {
		color: #fff;
		text-decoration: none;
	  }
	  nav a:hover {
		color: #ccc;
	  }
		.nav-btn{
		  background: #fff;
		  color: #222;
		  font-weight: 500;
		  width: 100%;
		  border: 3px solid #6D94DD;
		  padding: 10px;
		  margin: 10px 0;
		  text-align: left;
		  border-radius: 8px;
		  cursor:pointer;
		}
		button-container {
			display: flex;
			justify-content: space-between;
		  }
		  #menu{
		  width: auto;
		  }