body {
    background: linear-gradient(0.25turn, #7FB196, #F2C98C, #7FB196);
}

#quiz-container{
    margin-top:3%;
    border:#264653 20px solid; ;
    background-color: #264653;
    border-radius: 30%;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 10px 10px 10px black;
}

h1{
    text-align: center;
    text-shadow: black ;
    color: #264653;
   margin-top:2%;
   font-size:400%;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-shadow: 1px 1px 2px #526779, 0 0 1em black, 0 0 0.0em black;
}

.question {
    color: #264653;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    margin-bottom: 50px;
    margin-top: 25px;
    border: #7FB196 20px solid;
    background-color: #7FB196;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
    box-shadow:10px 10px 10px black ;  
}

.options {
    text-align: center;
}

.options button {
   
    background-color: #E9D1A9;
    margin-top: 10px;
    width: 50%;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #264653;
    border-radius: 20px;
    border-width: 5px;  
}

.options button:hover {
    cursor: pointer;
    scale: 1.25;
    background-color: #7FB196;
}

.button-container {
        text-align: center;
        margin-top: 50px;
}
#next-button,
#replay-button{
    background-color: #7FB196;
    border-radius:  100px;
	border-width: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color:#264653;
    }

	nav {
		display: flex;
		justify-content: center;
		padding: 2em;
		background-color:#264653;
		color: #fff;
	  }
	  nav ul {
		font-size: 14px;
		  color: #264653;
		  font-weight: 500;
		  border: 4px, solid, #7FB196;
		  border-radius: 6px;
		  padding: 6px;
	  }
	  nav li {
		display: inline-flex;
		margin-right: 4px;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 4px;
	  }
	  nav a {
		color: #264653;
		text-decoration: none;
	  }
	  nav a:hover {
		color: #C1CADB;
	  }
		.nav-btn1,
		.nav-btn2,
		.nav-btn3,
		.score{
		  display:flex;
		  background:#69ad87;
		  color: #222;
		  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		  font-weight: 500;
		  width: 100%;
		  border: 3px solid #C1CADB;
		  padding: 8px;
		  margin: 8px 0;
		  text-align: center;
		  border-radius: 5px;
		  cursor:pointer;
		}
		  #menu{
		  width: auto;
		  }


		  progress {
			background-color:#264653;
			margin-left: 43%;
			margin-top: 3%;
			width: 300px;
			height: 20px;
			box-shadow:10px 10px 10px black;
			}


			progress[value] {
				--w: 200px; /* the width*/
				--color:  /* the progress color */
				  linear-gradient(90deg,#264653,#7FB196) 0/var(--w);
				--background: lightgrey; /* the background color */
			  
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border: none;
				width: var(--w);
				margin: 0 10px;
				border-radius: 10em;
				background: var(--background);
			  }

			  progress[value]::-webkit-progress-value {
				border-radius: 10em;
				background: var(--color);
			  }
			  progress[value]::-moz-progress-bar {
				border-radius: 10em;
				background: var(--color);
			  }
#progress{
	text-align: center;
	margin-top: 100px;
	
}
		  #timer {
			text-align: center;
			font-size:150%;
			font-family:Georgia, 'Times New Roman', Times, serif;
			color: red;
		}

		.button-container:hover {
			cursor: pointer;
			color:#F2C98C
			}
		
		
				
		#next-button:hover {
			cursor: pointer;
			background-color:#F2C98C;
			scale: 1.25;
			}
		
		#replay-button:hover {
			cursor: pointer;
			background-color:#F2C98C;
			scale: 1.25;
		}